

.post {
    padding: 30px;
	color: #292929;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(33,33,33,0.3); 
	position: relative;
	overflow: hidden;

}
.icone{
    display: flex;
   justify-content: end;
   
   
}
.deleteicone {
    background-color: red;
   bottom: 0;
   top: auto;
    width: 30px;
    padding: 3px 2px 2px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.editicon{
    background-color: blue;
    width: 30px;
    padding: 3px 2px 2px;
    border-radius: 6px;
    margin-left: 0.5rem;
    position: relative;
    cursor: pointer;

}

.post h2 {
	font-size: 21px;
	margin-bottom: 20px;
}

 .post p {
	font-size: 16px;
}
.post::before{
	content: '';
	position: absolute;
	width: 2%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	top: 0;
	left: -20%;
	border-radius: 70%;
	transform: skew(-20deg);
}
.post:hover:before{
	animation: shine 1s ease forwards;
}
.post:hover{
	transition: 0.5s !important;
	transform: scale(1.05) !important;
}
@keyframes shine {
	100%{
		left: 120%;
	}
}
.post h2 {
	font-size: 21px;
	margin-bottom: 20px;
	text-align: start;
	hyphens: auto;
	
}

 .post p {
	font-size: 16px;
	text-align: justify;
	hyphens: auto;
}



